* {
    margin: 0;
    padding: 0;
}

.header {
}

.header img {
    padding: 15px;
}

.body {
    min-height: 750px;
    background-image: url(/1618458259_44-phonoteka_org-p-fon-dlya-lendinga-46.jpg);
    background-size: cover;
    display: flex;
}

.off {
    background-color: #e5212a;
    ;
    font-size: 30px;
    width: 230px;
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 20px 0;
    box-sizing: border-box;
}

.text {
    width: 80%;
    padding: 230px 0 0 145px;
}

.secure {
    font-size: 60px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

.build {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    padding-top: 20px;
    font-size: 20px;
    color: #fff;
}

.image {
    padding-top: 90px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

.image a {
    text-decoration: none;
}

.body-right {
    width: 50%;
    padding-top: 210px;
    padding-left: 200px;
}

.name {
    margin: 10px 0;
    width: 450px;
    padding: 10px 5px;
    color: grey;
    display: block;
    font-size: 20px;
}

.email {
    margin: 10px 0;
    width: 450px;
    padding: 10px 5px;
    color: grey;
    display: block;
    font-size: 20px;
}

#message {
    margin: 10px 0 20px  0;
    width: 450px;
    padding: 10px 5px;
    color: grey;
    display: inline-block;
    font-size: 20px;
    height: 130px;
    font-family: 'Open Sans', sans-serif;
    /* font-weight: bold; */
}
.button{
   text-decoration: none;
    text-align: center;
    font-size: 20px;
    padding: 10px 30px;
    font-family: 'Open Sans', sans-serif;
    /* font-weight: bold; */
    background-color:#e5212a;
    color: #fff;
}